header {
  /* position: fixed; */
  display: flex;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
  background-color: rgba(225, 182, 90, 0.605);
}

.single_page {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(165, 99, 42, 0.324);
  backdrop-filter: blur(5px);
}

.close_btn {
  position: fixed;
  top: 2rem;
  right: 2rem;
}

.single {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.single_page img {
  max-width: 300px;
}
.single_page h2 {
  position: relative;
  left: 30%;
}

.hidden {
  display: none;
}

button {
  color: aliceblue;
  background-color: rgb(8, 107, 160);
  border: none;
  font-size: 1.5rem;
  padding: 0.3rem;
  margin: 0.5rem;
  transition: 0.5s;
}
button:hover {
  border-radius: 1rem;
}

.search_conteiner {
  border-radius: 1rem;
  background-color: rgba(75, 75, 75, 0.68);
  position: fixed;
  right: 10%;
  top: 2%;
  height: 4rem;
}
nav {
  position: absolute;
  left: 30%;
}
input {
  margin: 1rem;
  height: 30px;
}

.active {
  border: rgba(145, 80, 0, 0.783) solid 2px;
  background-color: rgb(16, 8, 160);
}

.single_page {
  /* padding: 3rem; */
}

.overview {
  padding: 1rem;
  background-color: burlywood;
  border-radius: 1rem;
}

.rate {
  position: relative;
}

.pagination {
  display: flex;
}

@media screen and (max-width: 700px) {
  .search_conteiner {
    position: fixed;
    right: 5%;
    top: 90%;
  }
}
@media screen and (max-width: 500px) {
  header {
    display: grid;
  }
}
