header {
  /* position: fixed; */
  display: flex;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
  background-color: rgba(225, 182, 90, 0.605);
}

.single_page {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(165, 99, 42, 0.324);
  backdrop-filter: blur(5px);
}

.close_btn {
  position: fixed;
  top: 2rem;
  right: 2rem;
}

.single {
  display: flex;
  align-items: center;
  justify-content: center;
}
.single_page img {
  max-width: 300px;
}
.single_page h2 {
  position: relative;
  left: 30%;
}

.hidden {
  display: none;
}
.search {
  border: rgb(16, 140, 55) 2px;
}

button {
  color: aliceblue;
  background-color: rgb(8, 107, 160);
  border: none;
  font-size: 1.5rem;
  padding: 0.3rem;
  margin: 0.5rem;
  transition: 0.5s;
}
button:hover {
  border-radius: 1rem;
}

.search_conteiner {
  position: absolute;
  right: 10%;
  top: 11%;
}
nav {
  position: absolute;
  left: 30%;
}
input {
  height: 30px;
}

.active {
  border: rgba(145, 80, 0, 0.783) solid 2px;
  background-color: rgb(16, 8, 160);
}

.single_page {
  /* padding: 3rem; */
}

.overview {
  padding: 1rem;
  background-color: burlywood;
  border-radius: 1rem;
}

.rate {
  position: relative;
}

.pagination {
  display: flex;
  /* flex-direction: row; */
}
